.Slider{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    object-fit: cover;
    width:100%;
    height: 600px;
    display: grid;

    .company__div{
        background-color: transparent;
        width: 100%;
        height: fit-content;

        .company-name__div{
            display: flex;
            align-items: center;
            justify-content: center;

            h1.company-name{
                color: white;
            }
        }
    }

    .content__slider{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 10px;

        svg{
            color: var(--body-bgColor-dm);
            height: 50px;
            width: 50px;
            border-radius: 10px;
        }
        svg:hover{
            transform: translateY(-0.5rem);
        }
    }

    .circles{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .circle{
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 50%;
    }
    
    div.active{
        background-color: white;
        transform: scale(0.7);
        height: 20px;
        width: 20px;
        border: 2px solid white;
        border-radius: 50%;
    }
}

/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    .Slider{
        height: 300px;

        h1{
            text-shadow: 2px 2px rgb(0, 102, 255);
            font-size: 40px;
        }

        .content__slider{
            height: fit-content;
            padding: 0 5px;

            svg{
                height: 40px;
                width: 40px;
                color: rgb(0, 76, 255);
                background-color: white;
                border: solid white 2px;
            }
        }

        .circles{
            height: fit-content;
        }
    }
}


/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px){

}

/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){

}

/* ----------- DESCKTOP DEVICES----------- */
@media only screen and(max-width: 1440px ){

}