.Main-OrderSummary{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.OrderSummary{
    width: 400px !important;
    table{
        tbody{
            tr{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
            }
        }
    }
}