.main-cart {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: start;
    justify-content: end;

    hr {
        background-color: black;
    }

    .cart-content {
        width: 400px;
        height: 100%;
        background-color: rgb(0, 0, 150);
        display: flex;
        flex-direction:column;
        padding: 10px;
        gap: 8px;
        .no-item-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            h1 {
                text-align: center;
            }
        }
    }
}

.products-cart-list {
    height: 70%;
}
.cart-title {
    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.product-cart-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-image-name-container {
    display: flex;
    gap: 8px;
}


.value-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .delete-container {
        svg {
            color:red;
        }
    }
}

.product-value-container {
    display: flex;

    button,
    input{
        border: .4px solid rgb(137, 137, 137);
        background-color: rgb(233, 232, 232);
        color: black;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    input{
        width: 60px;
    }
}

.input-value,
.value-x{
    font-size: 20px;
}

.input-value,
.store-currency,
.product-price {
    color: rgb(0, 162, 255);
    
}

.minus-btn {
    border-radius: 9px 0 0 9px;
}

.plus-btn {
    border-radius: 0 9px 9px 0;
}

.sub-total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
        background-color: rgb(1, 164, 214);
        width: 350px;
        height: 60px;
    }
}